body{
    margin: 0;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Work Sans', sans-serif;
}
.header-section{
    background-image: url(./donate-photo/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    text-align: center;
}
.header-section h1{
    font-size: 50px;
    font-weight: 600;
    color: whitesmoke;
}
.header-section p{
    font-size: 20px;
    color: #f6f6f6;
    margin-bottom: 50px;
}
.header-section a{
    text-decoration: none;
    background-color: #271b05;
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
}
.donate-section{
    padding: 80px;
    text-align: center;
}
.donate-section h2{
    font-size: 50px;
    font-weight: 700;
}
.donate-section p{
    font-size: 20px;
    color: #777575;
    margin-top: -20px;
}
.donate-div{
    display: flex;
}
.donate-div h1{
    padding-left: 40px;
    font-size: 40px;
    margin-left: 60px;
}
.first{
    padding: 40px;
    background-color: #e7e7e7;
    border-radius: 5px;
}
.second{
    padding: 40px;
    border-radius: 5px;
    background-color: #dcb1b1;
    border: 4px solid #271b05;
}
#input-area input{
    border: none;
    padding: 40px 20px 10px 40px;
    margin-top: 40px;
    font-size: 25px;
    color: #777575;
    border-bottom: 3px solid #777575;
    margin-bottom: 50px;
}
.donate-section a{
   background-color: #ff4552;
   text-decoration: none; 
   padding: 17px 30px;
   color: white;
   font-size: 22px;
   border-radius: 5px;
}
#donate-plane{
    padding: 30px;
    text-align: center;
}
#donate-plane h1{
    font-size: 40px;
    font-weight: 700;
}
#donate-plane p{
    font-size: 20px;
    color: #717171;
}
.donate-for{
    display: flex;
}
.for-who{
    width: 28%;
    margin-left: 4%;
    padding: 30px 25px;
    margin-right: 4%;
    border-radius: 5px;
}
.for-who h1{
    font-size: 25px;
    font-weight: 600;
}
.for-who p{
    font-size: 18px;
    color: #717171;
}
#green{
    background-color: #b8c8b5;
  
}
#red{
    background-color: #d8bdae;
}
#yellow{
    background-color: #d2d5bd;
}
.news-section{
    margin-top: 100px;
    text-align: center;
}
.news-section p{
    color: #d2010f;
}
.news-section h1{
    font-size: 50px;
    font-weight: 600;
}
.blog-section{
    display: flex;
    margin-top: 70px;

}
.blog-div{
    width: 27%;
    margin-left: 4%;
   
}
.blog-div img{
    max-width: 100%;
    border-radius: 8px;
}
.blog-div h3{
    color: #767676;
}
.blog-div h1{
    font-weight: 500;
}
.join-section{
    text-align: center;
    margin: 0 160px;
}
.join-section h1{
    font-size: 50px;
    font-weight: 700;
}
.join-section p{
    font-size: 22px;
    color: #767676;
}
.join-div{
    background-color: #d8bdae;
    padding: 50px 60px;
    width: 60%;
    margin-left: 180px;
}
.join-div input{
    padding: 20px 70px;
    background-color: #cfcece;
    border: none;
    font-size: 18px;
}
.join-div a{
    background-color: #d2010f;
    text-decoration: none; 
    padding: 17px 28px;
    color: white;
    font-size: 18px;
     border-radius: 5px;
    }